<div
  namespace="[{ $props.namespace }]"
  type="flowbite-edit-toggle"
  class="flowbite-edit-toggle"
>
  <s:set name="namespace" value="[{ $props.namespace }]"></s:set>
  <s:set name="key" value="[{ $props.key }]"></s:set>
  <s:set name="index" value="[{ $props.index }]"></s:set>
  <s:set name="mode" value="[{ $props.mode }]"></s:set>
  <s:set name="data" value="[{ $props.data }]"></s:set>
  <s:set name="props" value="[{ $props.props }]"></s:set>
  <s:set name="column" value="[{ $props.column }]"></s:set>
  <s:set name="bind" value="[{ $props.bind }]"></s:set>
  <s:set name="value" value="[{ $props.value }]"></s:set>
  <s:set
    name="required"
    value="{{ props.itemProps != null or props.required == 1 }}"
  ></s:set>

  <label class="inline-flex items-center cursor-pointer">
    <input
      type="checkbox"
      name="{{ bind }}"
      class="sr-only peer"
      data-value="{{ value }}"
    />
    <div
      class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-primary-300 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-600"
    ></div>
    <span class="ms-3 text-sm font-medium text-gray-100">
      {{ column.name }}
    </span>
  </label>
</div>
